# Ignore build output
/build/
/out/
/bin/
/obj/
/CMakeFiles/
/CMakeCache.txt

# VSCode
.vscode/
/backup/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiler outputs
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj

# Logs
*.log

.clangd
.clang-format

app_version.hpp
version.rc

apps/notesman/oauth_private.cmake

extern/sqlite3/
extern/miniz/