QMessageBox {
    font: 11pt "Roboto";
    border-radius: 4px;
    padding: 4px;
}

QMessageBox QPushButton {
    padding-left: 20px;
    padding-right: 20px;
}

QWidget {
    background-color: #2b2b2b;
    color: #f0f0f0;
}

QPushButton {
    border-radius: 4px;

    border-left: 1px solid #555555;
    border-top: 1px solid #555555;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #505050;

    padding: 4px 8px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, 
                                stop: 0 #3c3c3c,
                                stop: 1 #2d2d2d);
    color: white;    
}

QPushButton:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, 
                                    stop: 0 #4c4c4c, 
                                    stop: 1 #3d3d3d); 
    
    border-left: 1px solid #4AB7F9; 
    border-top: 1px solid #4AB7F9;
    border-right: 1px solid #1085CC; 
    border-bottom: 1px solid #1085CC; 
    
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
}

QPushButton:pressed {
    border-left: 1px solid #505050;
    border-top: 1px solid #505050;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, 
                                stop: 0 #2d2d2d, 
                                stop: 1 #3c3c3c);
    
    padding: 5px 7px 3px 9px;
    
    color: white;
    border-radius: 4px;
}

QPushButton:disabled {
    background-color: #353535;
    border: 1px solid #454545;
    color: #7a7a7a;
    border-radius: 4px;
}

PlainTextEdit, QTextEdit {
    background-color: #1f1f1f;
}

QLineEdit, #tagLineEdit {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, 
                                stop: 0 #2d2d2d,
                                stop: 1 #3c3c3c);
    
    border-radius: 4px;
    
    border-left: 1px solid #202020; 
    border-top: 1px solid #202020;
    
    border-right: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a; 
    
    color: white;
    padding: 2px 4px;
}

QLineEdit:focus, #tagLineEdit:focus {
    border: 1px solid #4AB7F9; 
    background-color: #333333; 
}

QRadioButton::indicator, QCheckBox::indicator {
    width: 16px;
    height: 16px;
    image: url(:/icons/unchecked.png);     
    background: transparent; 
    border: none;
}

QRadioButton::indicator:checked, QCheckBox::indicator::checked {
    image: url(:/icons/checked.png); 
}

QRadioButton::indicator:hover {
    image: url(:/icons/hover_unchecked.png);
}

QRadioButton::indicator:!checked:hover {
    image: url(:/icons/hover_unchecked.png);
}

QRadioButton::indicator:checked:hover {
    image: url(:/icons/checked.png);
}

QMenu {
    font: 11pt "Roboto";
    border: 1px solid #555555;    
    background-color: #333333;
    border-radius: 4px;    
    padding: 4px;
}

QMenu::item {
    color: #CCCCCC;     
    padding: 3px 20px 3px 10px; 
    background-color: transparent;
}

QMenu::item:selected {
    background-color: #007ACC;
    color: white;
    border-radius: 2px;
}

QMenu::separator {
    height: 1px;
    background: #555555; 
    margin: 4px 0 4px 0;
}

/* ======================== */
ResultsTable {
    border: 1px solid #555555;
    gridline-color: #555555;
    border-top: none;
}

ResultsTable,
ResultsTable QHeaderView {
    font: 11pt "Roboto";
}

ResultsTable QHeaderView::section {
    border: none;

    border-top: 1px solid #555555;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #505050;

    padding: 4px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, 
                                stop: 0 #3c3c3c,
                                stop: 1 #2d2d2d);
    color: white;
}

ResultsTable QHeaderView[show-last-border="true"]::section:last {
    border-right: 1px solid #555555; 
}

ResultsTable QHeaderView[show-last-border="false"]::section:last {
    border-right: none;
}

ResultsTable QScrollBar:vertical {
    background: #252525;
    border-top: 1px solid #505050;
}

ResultsTable::item:selected:!active {
    background: #007ACC;
    color: white;
}

/* ======================== */

QScrollBar:vertical, QScrollBar:horizontal {
    background: #2b2b2b;
    width: 12px;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background: #4a4a4a;
    min-height: 20px;
    border-radius: 6px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    height: 0;
}

QToolButton {
    border: none;
    padding-bottom: 4px;
    padding-right: 8px;
}

QToolButton::menu-indicator {
    image: none;
}

#checkFilePath {
    color: #FAE1AF;
}

QToolBar#ResourceViewerToolbar QToolButton {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px;
}

QToolBar#ResourceViewerToolbar QToolButton:hover {
    background-color: rgba(128, 128, 128, 15%);
    border: 1px solid #4AB7F9;
}

QToolBar#ResourceViewerToolbar QToolButton:pressed {
    padding-left: 3px;
    padding-top: 3px;
}

QToolBar#ResourceViewerToolbar QToolButton:checked {
    background-color: rgba(0, 120, 215, 30%);
    border: 1px solid rgba(0, 120, 215, 50%);
}

QToolBar#ResourceViewerToolbar QToolButton:checked:hover {
    background-color: rgba(0, 120, 215, 50%);
}

QGroupBox#CleanupGroupBox {
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    margin-top: 0.5em;
}

QGroupBox#CleanupGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 10px;
    padding: 0 3px 0 3px;
}

QLabel.TagLabel {
    color: white;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 4px 15px 4px 60px;
    min-width: 100px;
}

QLabel.TagLabel[mode="epub"] {
    background-color: #8340F7;
}

QLabel.TagLabel[mode="markdown"] {
    background-color: #84716B;
}